<% layout("/layouts/boilerplate")%>
<body>

    <div class="row mt-3">
        <div class="col-8 offset-2">
            <h2>Edit listing</h2>
            <form method="POST" action="/listing/<%=list._id%>?._method=PUT" >

                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input id="title" class="form-control" type="text" value="<%=list.title%>" name="listing[title]" >
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea id="description" class="form-control" name="listing[description]"><%=list.description%></textarea>

                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">Image</label>
                    <input id="image" class="form-control" type="text" value="<%=list.image.url%>" name="listing[image][url]" >
                </div>

                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input id="price" class="form-control" type="number" value="<%=list.price%>" name="listing[price]" >
                    </div>

                    <div  class="mb-3 col-md-8">
                        <label for="location" class="form-label">Location</label>
                        <input id="location" class="form-control" type="text" value="<%=list.location%>" name="listing[location]" >
                    </div>
                </div>

                <div class="mb-3">
                    <label for="country" class="form-label">Country</label>
                    <input id="country" class="form-control" type="text" value="<%=list.country%>" name="listing[country]" >
                </div>

                <button class="btn btn-dark add-btn "  class="mt-3">Edit</button>
            </form>
        </div>
    </div>
</body>
